.theme-dark {
    --header-primary: #000000;
    --header-secondary: #3c3c3c;
    --text-normal: #000000;
    --text-muted: #805353;
    --text-link: #0030ff;
    --channels-default: #000000;
    --interactive-normal: #3a3a3a;
    --interactive-hover: #949494;
    --interactive-active: #5f5f5f;
    --interactive-muted: #ff4d4d;
    --background-primary: #ffffff;
    --background-secondary: #d4d4d4;
    --background-secondary-alt: #a7a7a7;
    --background-tertiary: #a7a7a7;
    --background-accent: #b7b7b7;
    --background-floating: #dadada;
    --background-mobile-primary: #ffffff;
    --background-mobile-secondary: #b9b9b9;
    --background-modifier-hover: rgb(79 84 92 / 30%);
    --background-modifier-active: rgba(79,84,92,0.24);
    --background-modifier-selected: rgba(79,84,92,0.32);
    --background-modifier-accent: hsla(0,0%,100%,0.06);
    --background-mentioned: rgba(250,166,26,0.05);
    --background-mentioned-hover: rgba(250,166,26,0.08);
    --background-message-hover: rgba(4,4,5,0.07);
    --background-help-warning: rgba(250,166,26,0.1);
    --background-help-info: rgba(0,176,244,0.1);
    --scrollbar-thin-thumb: #9c9fa2;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #505050;
    --scrollbar-auto-track: #9c9fa2;
    --scrollbar-auto-scrollbar-color-thumb: #3b4048;
    --scrollbar-auto-scrollbar-color-track: #2e3138;
    --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
    --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
    --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
    --elevation-high: 0 8px 16px rgba(0,0,0,0.24);
    --logo-primary: #fff;
    --focus-primary: #868686;
    --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    --channeltextarea-background: #c7c7c7;
    --activity-card-background: #2b2e33;
    --textbox-markdown-syntax: #8e9297;
    --deprecated-card-bg: rgba(32,34,37,0.6);
    --deprecated-card-editable-bg: rgba(32,34,37,0.3);
    --deprecated-store-bg: #36393f;
    --deprecated-quickswitcher-input-background: #72767d;
    --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
    --deprecated-text-input-bg: rgb(0 0 0 / 10%);
    --deprecated-text-input-border: rgba(0,0,0,0.3);
    --deprecated-text-input-border-hover: #040405;
    --deprecated-text-input-border-disabled: #202225;
    --deprecated-text-input-prefix: #dcddde;
}
