.theme-dark {
    --header-primary: #7fbbdb;
    --header-secondary: #82AAFF;
    --text-normal: #ffffff;
    --text-muted: #4B6479;
    --text-link: #0030ff;
    --channels-default: #4B6479;
    --interactive-normal: #254057;
    --interactive-hover: #5E7587;
    --interactive-active: #5379a7;
    --interactive-muted: #581627;
    --background-primary: #011627;
    --background-secondary: #001122;
    --background-secondary-alt: #000f1d;
    --background-tertiary: #0C2538;
    --background-accent: #122D42;
    --background-floating: #0E293F;
    --background-mobile-primary: #0E293F;
    --background-mobile-secondary: #b9b9b9;
    --background-modifier-hover: rgb(79 84 92 / 30%);
    --background-modifier-active: rgba(79,84,92,0.24);
    --background-modifier-selected: rgba(79,84,92,0.32);
    --background-modifier-accent: hsla(0,0%,100%,0.06);
    --background-mentioned: rgba(250,166,26,0.05);
    --background-mentioned-hover: rgba(250,166,26,0.08);
    --background-message-hover: rgba(4,4,5,0.07);
    --background-help-warning: rgba(250,166,26,0.1);
    --background-help-info: rgba(0,176,244,0.1);
    --scrollbar-thin-thumb: #011627;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #02121f;
    --scrollbar-auto-track: #043254;
    --scrollbar-auto-scrollbar-color-thumb: #253752;
    --scrollbar-auto-scrollbar-color-track: #172035;
    --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
    --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
    --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
    --elevation-high: 0 8px 16px rgba(0,0,0,0.24);
    --logo-primary: #fff;
    --focus-primary: #868686;
    --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    --channeltextarea-background: #01121F;
    --activity-card-background: #384d6f;
    --textbox-markdown-syntax: #8e9297;
    --deprecated-card-bg: rgba(32,34,37,0.6);
    --deprecated-card-editable-bg: rgba(32,34,37,0.3);
    --deprecated-store-bg: #36393f;
    --deprecated-quickswitcher-input-background: #72767d;
    --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
    --deprecated-text-input-bg: rgb(0 0 0 / 10%);
    --deprecated-text-input-border: rgba(0,0,0,0.3);
    --deprecated-text-input-border-hover: #043254;
    --deprecated-text-input-border-disabled: #031b2d;
    --deprecated-text-input-prefix: #2b83c3;
}
.theme-dark .contentTitle-2tG_sM {
    color: #71A5FF;
}
.theme-dark .contentTitle-2tG_sM strong {
    color: #82AAFF;
}
.theme-dark .autocomplete-1vrmpx {
    background-color: #043254;
}
.theme-dark .description-11DmNu, .theme-dark .descriptionUsername-J_75O8 {
    color: #01121f;
}
.theme-dark .selectorSelected-1_M1WV {
    background-color: #366bb9;
}
.botTagRegular-2HEhHi {
    background: #af78d4;
    color: #fff;
}
.lookFilled-1Gx00P.colorBrand-3pXr91 {
    color: #fff;
    background-color: #0B253A;
    outline: #5F7E97;
    outline-color: rgb(95, 126, 151);
    outline-style: auto;
    outline-width: thick;
    outline-width: thick;
    outline-style: auto;
}
.markup-2BOw-j {
    FONT-VARIANT: 5;
    font-size: 1rem;
    line-height: 1.375rem;
    white-space: pre-wrap;
    white-space: break-spaces;
    word-wrap: break-word;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    color: #ffffff;
    font-weight: 450;
}
.wrapper-3WhCwL {
    border-radius: 3px;
    padding: 0 2px;
    font-weight: 500;
    unicode-bidi: -moz-plaintext;
    unicode-bidi: plaintext;
    color: #F78C6C;
    background: rgba(114,137,218,.1);
    position: relative;
}
.mentioned-xhSam7:before {
    background-color: #ADDB67;
}
.mentioned-xhSam7 {
    position: relative;
    background-color: #80a4c252;
}
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
    background-color: #02233e;
    color: hsla(0,0%,100%,.8);
}
.flex-1xMQg5 {
    padding-top: 4px;
}
.anchor-3Z-8Bb {
    color: #6f88f7;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
}
.theme-dark .categoryFadeBlurple-1j72_A, .theme-light .categoryFadeBlurple-1j72_A {
    background-color: #122d42d4;
}
.theme-dark .footer-2gL1pp {
    background-color: #2d3b46;
    -webkit-box-shadow: inset 0 1px 0 rgba(47,49,54,.6);
    box-shadow: inset 0 1px 0 #011627;
}
.table-39R0Oe {
    background-color: #3e454c;
    border-radius: 4px;
    padding: 16px;
}
.lookFilled-1h1y05.select-1Pkeg4 {
    background-color: #3e454c;
    border: 1px solid transparent;
    border-top-color: rgba(0, 0, 0, 0.38);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgba(0, 0, 0, 0.38);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgba(0, 0, 0, 0.38);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgba(0, 0, 0, 0.38);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-color: rgb(0 0 0 / 38%);
    border-top-color: rgba(0, 0, 0, 0.38);
    border-right-color: rgba(0, 0, 0, 0.38);
    border-bottom-color: rgba(0, 0, 0, 0.38);
    border-left-color: rgba(0, 0, 0, 0.38);
}
.wrapper-3xYGNM {
    border-radius: 4px;
    -webkit-transition: background-color .2s ease;
    background-color: #3e454c;
}
.subscriptionLegal-mlU-mA {
    color: #7299b9;
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
}
.checkboxLabel-1zn0UC {
    color: #4978a0;
}
.section-2gLsgF {
    position: relative;
    padding: 12px;
    border-radius: 4px;
    background-color: #254057;
}
.theme-dark .spoilerText-3p6IlD.hidden-HHr2R9 {
    background-color: #1a3046;
}
.scroller-1JbKMe {
    background-color: var(--background-secondary);
}
.selected-aXhQR6 .layout-2DM8Md {
    background-color: #254057;
}
.layout-2DM8Md {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 4px;
    height: 42px;
    padding: 0 8px;
    background-color: #203c54;
}
.content-1LAB8Z {
    position: relative;
    z-index: 0;
    border-radius: 5px 5px 0 0;
    padding-left: 16px;
    padding-right: 16px;
    overflow-x: hidden;
    background-color: #0B253A;
}
.header-1TKi98 {
    background-color: #122D42;
    border-radius: 5px 5px 0 0;
    -webkit-transition: -webkit-box-shadow .1s ease-out;
    transition: -webkit-box-shadow .1s ease-out;
    transition: box-shadow .1s ease-out;
    transition: box-shadow .1s ease-out,-webkit-box-shadow .1s ease-out;
    word-wrap: break-word;
}
.item-26Dhrx {
    cursor: pointer;
    border-radius: 3px;
    border-color: #122D42;
    background-color: #0E293F;
}
.lookFilled-1Gx00P.colorBrand-3pXr91 {
    color: #fff;
    background-color: #0e293f;
}
